.music-lrc {
  width: 360px;
  height: 370px;
  padding-left: 30px;
  overflow: auto;

  .lrc-list {
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 1px;
  }

  .choose-lrc {
    color: #52c41a;
  }
}