.music-lrc {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 96px;
  overflow-y: auto;
  transition: .5s;
  height: 100%;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  
  &::-webkit-scrollbar {
    display: none;
  }

  .lrc-list {
    letter-spacing: 2px;
    // 一屏幕展示 10 行，那么每行 10vh， 高 10v  font-size: 5vh  margin-top: 5vh
    p {
      font-size: 3vh;
      height: 5vh;
      margin-top: 2.5vh;
      margin-bottom: 0;
      transition: all 0.2s ease-in-out;
      opacity: .4;
      font-weight: 400;
    }

    &:first-child {
      margin-top: 15vh;
    }

    &:last-child {
      margin-bottom: 60vh;
    }
  }

  p.choose-lrc {
    opacity: 1;
    font-weight: 600;
    font-size: 3.5vh;
    // text-shadow: 0 0 1px white, 0 0 1px #00FFFF, 0 0 5px #7FFF00, 0 0 2px white;
  }
}