.music-lrc {
  padding: 41px 0 200px 0;
  width: 360px;
  height: 370px;
  padding-left: 30px;
  overflow: auto;
  scroll-behavior: smooth;

  .lrc-list {
    font-size: 16px;
    letter-spacing: 1px;

    p {
      line-height: 25px;
      height: 25px;
    }
  }

  .choose-lrc {
    color: #52c41a;
  }
}