.music-lrc-word {
  padding: 41px 0 200px 0;
  width: 360px;
  height: 370px;
  padding-left: 30px;
  overflow: auto;
  scroll-behavior: smooth;

  .lrc-list {
    font-size: 16px;
    letter-spacing: 1px;

    p {
      display: inline-block;
      line-height: 25px;
      height: 25px;
    }
  }

  .choose-lrc-line {
    transition: all 0.2s ease-in-out;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #52c41a;
  }
}