.page-upload {
  .upload-line {
    width: 300px;
  }

  .tips {
    font-size: 12px;
    padding-top: 10px;
    margin-bottom: 20px;
    span {
      display: inline-block;
      width: 100%;
      line-height: 25px;
    }
  }
}