.player-control {
  width: 100%;
  justify-content: center;
  p {
    margin: 0
  }

  .control {
    width: 30vw;
    max-width: 50vh;
    height: 120px;
    margin: auto;
    .control-line {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
  
      > section {
        display: flex;
        align-items: center;
        height: 100%;
      }
    }
  
    .line-left {
      width: 100%;
      display: flex;
      justify-content: space-between;
      opacity: .5;
      line-height: 30px;
    }
  
    .line-center {
      width: 100%;
      justify-content: center;
  
      .icon {
        color: var(--text-color);
      }
  
      .icon-play-bg {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        padding: 10px;
        cursor: pointer;
        color: white;
        margin: 0 20px;
      }
  
      .icon-play, .icon-pause {
        font-size: 35px;
        cursor: pointer;
        transition: all .2s ease-in-out;
      }
    }
  
    .line-right {
      width: 120px;
      width: 200px;
      justify-content: flex-end;
    }

    .control-icon-list {
      display: flex;
      align-items: center;
      font-size: 35px;
      color: white;

      p {
        cursor: pointer;
        transition: all .2s ease-in-out;
  
        &:hover {
          opacity: .8;
        }
      }
    }
  }

  .control-min {
    display: flex;
    align-items: center;
    user-select: none;
    margin-left: 30px;
    width: 100%;

    .control-icon-list {
      display: flex;
      align-items: center;
      font-size: 35px;
      color: white;

      p {
        cursor: pointer;
        transition: all .2s ease-in-out;
  
        &:hover {
          opacity: .8;
        }
      }
    }

    .icon-play-bg {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      font-size: 35px;
      padding: 10px;
      cursor: pointer;
      margin: 0 5px;
    }

    .control-progress {
      margin-left: 20px;
      width: 100%;
    }

    .line-left {
      margin-left: 20px;
      width: 100px;
      flex-shrink: 0;
    }
  }
}