.player-max {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  color: white;
  background-color: rgb(33, 32, 32);

  p {
    margin-bottom: 0;
  }
  
  .player-fade {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(33, 32, 32);
    opacity: .7;
    z-index: -1;
  }

  .player-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(40px);
    z-index: -2;
  }

  .player-box {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
  }

  .player-left, .player-right {
    flex: 1;
    font-weight: 600;
    margin-right: 24px;
    height: 100%;
    align-content: flex-start;
  }

  .player-right {
    mask: linear-gradient(180deg, transparent, white 20%, transparent 100%, white);
  }

  .player-left {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10vh;
    user-select: none;

    .player-line {
      width: 100%;
      margin: auto;
    }

    img {
      display: block;
      margin: auto;
      width: 30vw;
      max-width: 50vh;
      border-radius: 20px;
      align-self: baseline;
    }
  }

  .player-info {
    width: 30vw;
    max-width: 50vh;
    margin: 3vh auto;

    .music-name {
      font-size: 22px;
      letter-spacing: 2px;
      margin-bottom: 10px;
    }

    .music-artist {
      font-size: 14px;
      opacity: .5;
    }

    .music-current-lrc {
      font-size: 14px;
      height: 30px;
      line-height: 30px;
      opacity: .5;
    }
  }

  .music-log {
    text-align: center;
  }

  .status-control {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 2vw;
    z-index: 101;
    cursor: pointer;
    opacity: .5;
    transition: opacity .4s ease-in-out;


    &:hover {
      opacity: 1;
    }
  }
}


.player-min {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 100;
  color: #820014;
  background-color:rgb(33, 32, 32, .9);

  .player-layout {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    padding: 0 50px;

    .layout-left {
      display: flex;
    }

    .music-img img {
      cursor: pointer;
      height: 60px;
      transition: transform .4s ease-in-out;
      
      &:hover {
        transform: scale(1.1);
      }
    }

    .player-info {
      margin-left: 20px;
      line-height: 25px;
      font-size: 14px;

      p {
        margin-bottom: 0;
      }
    }
  }
}