.player {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2021;
  color: white;

  .player-fade {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(33, 32, 32);
    opacity: .9;
    z-index: -1;
  }

  .player-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px);
    z-index: -2;
  }

  .player-layout {
    height: 600px;
  }

  .player-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1200px;
    margin: auto;
    padding-top: 80px;
  }

  .player-img {
    img {
      width: 300px;
    }
  }

  .player-info {
    margin-bottom: 40px;
    padding-left: 30px;

    .music-name {
      font-size: 20px;
    }
  }

  .music-log {
    text-align: center;
  }
}