// 定义css的全局变量 用来做主题替换
:root {
  --primary-color: #ff375f;
  --lyric-accent: #ff8aa1;
  --lyric-accent-soft: rgba(255, 138, 161, 0.18);
  --text-color: rgba(0, 0, 0, 0.65); // 主文本色
}

.link {
  color: var(--primary-color);
  cursor: pointer;
  transition: opacity .2s ease-out;

  &:hover {
    opacity: .8;
  }
}
